## CPI de cada pais en 2018

In [132]:
import pandas as pd
import os
import pandas as pd
from zipfile import ZipFile
import io

# Directorio actual
current_dir = os.getcwd()
cpi_path = os.path.join(current_dir, "../data/zip/API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_19489.zip")

with ZipFile(cpi_path) as z:
    # Listar archivos disponibles 
    print("Archivos en el ZIP:", z.namelist())
    
    # Extraer y leer el archivo principal
    with z.open('API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_19489.csv') as f:
        # Leer como DataFrame 
        df = pd.read_csv(io.BytesIO(f.read()), encoding='utf-8', skiprows=4)
      
# Mostrar las primeras filas del DataFrame
print(df.head())

Archivos en el ZIP: ['Metadata_Indicator_API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_19489.csv', 'API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_19489.csv', 'Metadata_Country_API_FP.CPI.TOTL.ZG_DS2_en_csv_v2_19489.csv']
                  Country Name Country Code  \
0                        Aruba          ABW
1  Africa Eastern and Southern          AFE
2                  Afghanistan          AFG
3   Africa Western and Central          AFW
4                       Angola          AGO

                          Indicator Name  Indicator Code  1960  1961  1962  \
0  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
1  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
2  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
3  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN
4  Inflation, consumer prices (annual %)  FP.CPI.TOTL.ZG   NaN   NaN   NaN

   1963  1964  1965  ...       2016       2017       2018       2019  \
0   NaN   NaN   NaN  ...  -0.931196  -1.028282   3.626041   4.257462
1   NaN   NaN   NaN  ...   6.596505   6.399343   4.720805   4.644967
2   NaN   NaN   NaN  ...   4.383892   4.975952   0.626149   2.302373
3   NaN   NaN   NaN  ...   1.487416   1.725486   1.784050   1.983092
4   NaN   NaN   NaN  ...  30.694415  29.844480  19.628938  17.080954

        2020       2021       2022       2023       2024  Unnamed: 69
0        NaN        NaN        NaN        NaN        NaN          NaN
1   5.405162   7.240978  10.773751   7.126975        NaN          NaN
2   5.601888   5.133203  13.712102  -4.644709  -6.601186          NaN
3   2.490378   3.745700   7.949251   5.221168        NaN          NaN
4  22.271539  25.754295  21.355290  13.644102  28.240495          NaN

[5 rows x 70 columns]

In [133]:
print("Columnas disponibles:", df.columns)

Columnas disponibles: Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', 'Unnamed: 69'],
      dtype='object')

In [134]:
# Seleccionar columnas específicas para 2018
cpi_df = df[['Country Name', '2018' ]].copy()

# Renombrar columnas 
cpi_df = cpi_df.rename(columns={
    'Country Name': 'Country',
    '2018': 'cpi_2018_%',
    
})
# Mostrar resultados
print("CPI 2018:")
print(cpi_df)

## Guardar en CSV
# Path
cpi_save_path = os.path.join(current_dir, '../data/raw/macrodata')
# Crear un directorio si no existe
os.makedirs(cpi_save_path, exist_ok=True)
# Archivo CSV
cpi_data = os.path.join(cpi_save_path, "cpi(%).csv")
# Guardar dataframe en CSV
cpi_df.to_csv(cpi_data, index=False)

CPI 2018:
                         Country  cpi_2018_%
0                          Aruba    3.626041
1    Africa Eastern and Southern    4.720805
2                    Afghanistan    0.626149
3     Africa Western and Central    1.784050
4                         Angola   19.628938
..                           ...         ...
261                       Kosovo    1.053798
262                  Yemen, Rep.         NaN
263                 South Africa    4.509873
264                       Zambia    7.494572
265                     Zimbabwe   10.618866

[266 rows x 2 columns]

## Desempleo_2018 
Índice de Desempleo (OK)
https://data.worldbank.org/indicator/SL.UEM.TOTL.ZS

In [161]:
import pandas as pd
from zipfile import ZipFile
import io

# Ruta al archivo ZIP
desempleo_total_zip_path = os.path.join(current_dir, '..\data\zip\API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_19329.zip')

with ZipFile(desempleo_total_zip_path) as z:
    # Listar archivos disponibles 
    print("Archivos en el ZIP:", z.namelist())
    
    # Extraer y leer el archivo principal
    with z.open('API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_19329.csv') as f:
        # Leer como DataFrame 
        df_desempleo = pd.read_csv(io.BytesIO(f.read()), encoding='utf-8', skiprows=4)
        
print(df_desempleo)

Archivos en el ZIP: ['Metadata_Indicator_API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_19329.csv', 'API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_19329.csv', 'Metadata_Country_API_SL.UEM.TOTL.ZS_DS2_en_csv_v2_19329.csv']
     Country Name Country Code                                Indicator Name  \
0           Aruba          ABW  Unemployment, total (% of total labor force)
1     Afghanistan          AFG  Unemployment, total (% of total labor force)
2          Angola          AGO  Unemployment, total (% of total labor force)
3        Anguilla          AIA  Unemployment, total (% of total labor force)
4         Albania          ALB  Unemployment, total (% of total labor force)
..            ...          ...                                           ...
267        Kosovo          XKX  Unemployment, total (% of total labor force)
268   Yemen, Rep.          YEM  Unemployment, total (% of total labor force)
269  South Africa          ZAF  Unemployment, total (% of total labor force)
270        Zambia          ZMB  Unemployment, total (% of total labor force)
271      Zimbabwe          ZWE  Unemployment, total (% of total labor force)

     Indicator Code       1995       1996    1997       1998       1999  \
0    SL.UEM.TOTL.ZS        NaN        NaN     NaN        NaN        NaN
1    SL.UEM.TOTL.ZS  11.477000  11.499000  11.480  11.472000  11.547000
2    SL.UEM.TOTL.ZS   3.819000   3.829000   3.821   3.818000   3.850000
3    SL.UEM.TOTL.ZS        NaN        NaN     NaN        NaN        NaN
4    SL.UEM.TOTL.ZS  16.521999  16.549999  16.525  16.516001  16.611000
..              ...        ...        ...     ...        ...        ...
267  SL.UEM.TOTL.ZS        NaN        NaN     NaN        NaN        NaN
268  SL.UEM.TOTL.ZS   8.917000   9.525000  10.119  10.741000  11.460000
269  SL.UEM.TOTL.ZS  30.157000  30.194000  30.164  30.153999  30.275999
270  SL.UEM.TOTL.ZS  16.702999  15.300000  13.593  12.000000  12.510000
271  SL.UEM.TOTL.ZS   5.583000   6.254000   6.930   6.426000   6.000000

       2000  ...  2060  2065  2070  2075  2080  2085  2090  2095  2100  \
0       NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
1    11.517  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
2     3.837  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
3       NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
4    16.573  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
..      ...  ...   ...   ...   ...   ...   ...   ...   ...   ...   ...
267     NaN  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
268  11.567  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
269  30.229  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
270  12.930  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN
271   5.640  ...   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN

     Unnamed: 70
0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
..           ...
267          NaN
268          NaN
269          NaN
270          NaN
271          NaN

[272 rows x 71 columns]

In [162]:
print("Columnas disponibles:", df_desempleo.columns)

Columnas disponibles: Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003',
       '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012',
       '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021',
       '2022', '2023', '2024', '2025', '2026', '2027', '2028', '2029', '2030',
       '2031', '2032', '2033', '2034', '2035', '2036', '2037', '2038', '2039',
       '2040', '2041', '2042', '2043', '2044', '2045', '2046', '2047', '2048',
       '2049', '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085',
       '2090', '2095', '2100', 'Unnamed: 70'],
      dtype='object')

In [163]:
# Seleccionar columnas específicas para 2018
df_desempleo = df_desempleo[['Country Name', '2018' ]].copy()

# Renombrar columnas 
df_desempleo = df_desempleo.rename(columns={
    'Country Name': 'Country',
    '2018': 'unemployed_index_2018_%',
    
})
# Mostrar resultados
print("Desempleo total en 2018 (% de la fuerza laboral):")
print(df_desempleo)

## Guardar en CSV
# Path
desempleo_total_path = os.path.join(current_dir, '../data/raw/macrodata')
# Crear un directorio si no existe
os.makedirs(desempleo_total_path, exist_ok=True)
# Archivo CSV
desempleo_total_data = os.path.join(desempleo_total_path, "unemployed_total_index(%).csv")
# Guardar dataframe en CSV
df_desempleo.to_csv(desempleo_total_data, index=False)

Desempleo total en 2018 (% de la fuerza laboral):
          Country  unemployed_index_2018_%
0           Aruba                      NaN
1     Afghanistan                   11.057
2          Angola                    7.019
3        Anguilla                      NaN
4         Albania                   12.340
..            ...                      ...
267        Kosovo                      NaN
268   Yemen, Rep.                   13.002
269  South Africa                   26.920
270        Zambia                   11.500
271      Zimbabwe                    5.087

[272 rows x 2 columns]

## Tasa de interés

In [178]:
import pandas as pd
from zipfile import ZipFile
import io

# Ruta al archivo ZIP
tasa_interes_path = os.path.join(current_dir, r'..\data\zip\Tasas de interes.zip')

with ZipFile(tasa_interes_path) as z:
    # Listar archivos disponibles 
    print("Archivos en el ZIP:", z.namelist())
    
    # Extraer y leer el archivo principal
    with z.open('API_FR.INR.RINR_DS2_en_csv_v2_19336.csv') as f:
        # Leer como DataFrame 
        df_tasa_interes = pd.read_csv(io.BytesIO(f.read()), encoding='utf-8', skiprows=4)
        
print(df_tasa_interes)

Archivos en el ZIP: ['Metadata_Indicator_API_FR.INR.RINR_DS2_en_csv_v2_19336.csv', 'API_FR.INR.RINR_DS2_en_csv_v2_19336.csv', 'Metadata_Country_API_FR.INR.RINR_DS2_en_csv_v2_19336.csv']
                    Country Name Country Code          Indicator Name  \
0                          Aruba          ABW  Real interest rate (%)
1    Africa Eastern and Southern          AFE  Real interest rate (%)
2                    Afghanistan          AFG  Real interest rate (%)
3     Africa Western and Central          AFW  Real interest rate (%)
4                         Angola          AGO  Real interest rate (%)
..                           ...          ...                     ...
261                       Kosovo          XKX  Real interest rate (%)
262                  Yemen, Rep.          YEM  Real interest rate (%)
263                 South Africa          ZAF  Real interest rate (%)
264                       Zambia          ZMB  Real interest rate (%)
265                     Zimbabwe          ZWE  Real interest rate (%)

    Indicator Code  1960      1961      1962      1963      1964      1965  \
0      FR.INR.RINR   NaN       NaN       NaN       NaN       NaN       NaN
1      FR.INR.RINR   NaN       NaN       NaN       NaN       NaN       NaN
2      FR.INR.RINR   NaN       NaN       NaN       NaN       NaN       NaN
3      FR.INR.RINR   NaN       NaN       NaN       NaN       NaN       NaN
4      FR.INR.RINR   NaN       NaN       NaN       NaN       NaN       NaN
..             ...   ...       ...       ...       ...       ...       ...
261    FR.INR.RINR   NaN       NaN       NaN       NaN       NaN       NaN
262    FR.INR.RINR   NaN       NaN       NaN       NaN       NaN       NaN
263    FR.INR.RINR   NaN  5.200152  6.013274  2.423273  3.667879  3.800071
264    FR.INR.RINR   NaN       NaN       NaN       NaN       NaN       NaN
265    FR.INR.RINR   NaN       NaN       NaN       NaN       NaN       NaN

     ...       2016       2017      2018       2019       2020       2021  \
0    ...   7.982852   9.789287  2.453045  -0.299776   7.825935  11.897084
1    ...        NaN        NaN       NaN        NaN        NaN        NaN
2    ...  17.583938  12.141178       NaN        NaN        NaN        NaN
3    ...        NaN        NaN       NaN        NaN        NaN        NaN
4    ...  -4.922003  -5.552698 -5.844003   0.090919   8.028657 -13.989372
..   ...        ...        ...       ...        ...        ...        ...
261  ...   6.615990   6.364675  5.079009        NaN        NaN        NaN
262  ...        NaN        NaN       NaN        NaN        NaN        NaN
263  ...   3.278252   4.647315  5.856184   5.268416   2.198414   0.472107
264  ...   1.693929   2.091490  2.215865   2.469674  -3.893032        NaN
265  ...   4.998563 -64.281571  3.454590 -64.295151 -81.132121 -31.795551

          2022       2023  2024  Unnamed: 69
0     2.852654  -0.852278   NaN          NaN
1          NaN        NaN   NaN          NaN
2          NaN        NaN   NaN          NaN
3          NaN        NaN   NaN          NaN
4     5.634143  -0.594014   NaN          NaN
..         ...        ...   ...          ...
261        NaN        NaN   NaN          NaN
262        NaN        NaN   NaN          NaN
263   3.618541   6.388794   NaN          NaN
264        NaN        NaN   NaN          NaN
265 -36.833393 -73.540441   NaN          NaN

[266 rows x 70 columns]

In [179]:
print("Columnas disponibles:", df_tasa_interes.columns.tolist())

Columnas disponibles: ['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code', '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968', '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022', '2023', '2024', 'Unnamed: 69']

In [181]:
# Seleccionar columnas específicas para 2018
df_tasa_interes_2018 = df_tasa_interes[['Country Name', '2018']].copy()

# Renombrar columnas
df_tasa_interes_2018.columns = ['Country', 'Tasas_de_interes_%']


# Mostrar resultados
print("Tasa de interés:")
print(df_tasa_interes_2018)


## Guardar en CSV
# Path
tasa_interes_path = os.path.join(current_dir, '../data/raw/macrodata')
# Crear un directorio si no existe
os.makedirs(tasa_interes_path, exist_ok=True)
# Archivo CSV
tasa_interes_data = os.path.join(tasa_interes_path, "tasa_interes.csv")
# Guardar dataframe en CSV
df_tasa_interes_2018.to_csv(tasa_interes_data, index=False)

Tasa de interés:
                         Country  Tasas_de_interes_%
0                          Aruba            2.453045
1    Africa Eastern and Southern                 NaN
2                    Afghanistan                 NaN
3     Africa Western and Central                 NaN
4                         Angola           -5.844003
..                           ...                 ...
261                       Kosovo            5.079009
262                  Yemen, Rep.                 NaN
263                 South Africa            5.856184
264                       Zambia            2.215865
265                     Zimbabwe            3.454590

[266 rows x 2 columns]

## Consumo total hogares

In [182]:
import pandas as pd

consumo_total_path = os.path.join(current_dir, r"..\data\zip\Consumo nacional bruto.zip")

# Cargar el archivo CSV
df_consumo_total = pd.read_csv(consumo_total_path)

# Mostrar las primeras filas del DataFrame
print(df_consumo_total.head())

                                         Series Name     Series Code  \
0  Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
1  Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
2  Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
3  Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
4  Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD

     Country Name Country Code     1990 [YR1990]     2000 [YR2000]  \
0     Afghanistan          AFG                ..                ..
1         Albania          ALB        1271486850  2879464404.75529
2         Algeria          DZA  35266505182.0216  22776943098.6469
3  American Samoa          ASM                ..                ..
4         Andorra          AND                ..                ..

      2015 [YR2015]     2016 [YR2016]     2017 [YR2017]     2018 [YR2018]  \
0                ..                ..                ..                ..
1   9188593701.2885  9602953219.08291  10364747648.3988  11453757185.9689
2  74705541235.0721   74337682806.349  79857872116.7867  81186389409.1377
3         460000000         463000000         471000000         487000000
4                ..                ..                ..                ..

      2019 [YR2019]     2020 [YR2020]     2021 [YR2021]     2022 [YR2022]  \
0                ..  18419990527.0292  12617004786.8703  14150977069.9198
1  11773979072.4959  11363042882.8201  12927979166.9772  13570171567.9491
2  82801452806.2917  76776334471.2913  78913407233.8825  85650981663.2596
3         509000000         533000000         602000000         621000000
4                ..                ..                ..                ..

      2023 [YR2023] 2024 [YR2024]
0  16781810326.3078            ..
1  16531612533.4229            ..
2  101009060221.042            ..
3                ..            ..
4                ..            ..

In [183]:
import pandas as pd
import numpy as np

# Identificar columnas de años
year_columns = [col for col in df_consumo_total.columns if '[YR' in col]

# Reorganizar datos 
df_tidy = pd.melt(
    df_consumo_total,
    id_vars=['Series Name', 'Series Code', 'Country Name', 'Country Code'],
    value_vars=year_columns,
    var_name='Year',
    value_name='Value'
)

# Extraer el año numérico 
df_tidy['Year'] = df_tidy['Year'].str.extract(r'(\d{4})').astype(int)

# Filtrar solo 2018 y eliminar filas con NaN
df_2018_clean = df_tidy[
    (df_tidy['Year'] == 2018) & 
    (df_tidy['Value'].notna())  # Solo filas con valores numéricos
].reset_index(drop=True)

# Mostrar resultados
print(df_2018_clean)

                                           Series Name     Series Code  \
0    Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
1    Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
2    Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
3    Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
4    Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
..                                                 ...             ...
261  Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
262  Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
263  Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
264  Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD
265  Households and NPISHs Final consumption expend...  NE.CON.PRVT.CD

                                   Country Name Country Code  Year  \
0                                   Afghanistan          AFG  2018
1                                       Albania          ALB  2018
2                                       Algeria          DZA  2018
3                                American Samoa          ASM  2018
4                                       Andorra          AND  2018
..                                          ...          ...   ...
261                          Sub-Saharan Africa          SSF  2018
262  Sub-Saharan Africa (excluding high income)          SSA  2018
263   Sub-Saharan Africa (IDA & IBRD countries)          TSS  2018
264                         Upper middle income          UMC  2018
265                                       World          WLD  2018

                Value
0                  ..
1    11453757185.9689
2    81186389409.1377
3           487000000
4                  ..
..                ...
261  1307276997301.39
262  1305998845590.73
263  1307276997301.39
264  11096981141650.3
265  48743986662133.8

[266 rows x 6 columns]

In [184]:
# Seleccionar solo las columnas requeridas: Country Name, 2018 y Series Name (CPI)
df_2018_consumo_total = df_consumo_total[['Country Name', '2018 [YR2018]']]

# Renombrar columnas para mayor claridad
df_2018_consumo_total = df_2018_consumo_total.rename(columns={
    'Country Name': 'Country',
    '2018 [YR2018]': 'Consumo Total Hogares 2018',
    
})

# Eliminar filas con valores faltantes (NaN) en CPI_2018
df_2018_consumo_total_clean = df_2018_consumo_total.dropna(subset=['Consumo Total Hogares 2018'])

# Mostrar el resultado
print(df_2018_consumo_total_clean)

## Guardar en CSV
# Path
consumo_total_path = os.path.join(current_dir, '../data/raw/macrodata')
# Crear un directorio si no existe
os.makedirs(consumo_total_path, exist_ok=True)
# Archivo CSV
consumo_total_data = os.path.join(consumo_total_path, "Consumo nacional bruto.csv")
# Guardar dataframe en CSV
df_2018_consumo_total_clean.to_csv(consumo_total_data, index=False)

                                        Country Consumo Total Hogares 2018
0                                   Afghanistan                         ..
1                                       Albania           11453757185.9689
2                                       Algeria           81186389409.1377
3                                American Samoa                  487000000
4                                       Andorra                         ..
..                                          ...                        ...
261                          Sub-Saharan Africa           1307276997301.39
262  Sub-Saharan Africa (excluding high income)           1305998845590.73
263   Sub-Saharan Africa (IDA & IBRD countries)           1307276997301.39
264                         Upper middle income           11096981141650.3
265                                       World           48743986662133.8

[266 rows x 2 columns]

## Ingreso Nacional Bruto

In [185]:
import pandas as pd

# 
ingreso_nacional_path = os.path.join(current_dir, r'../data/zip/Ingreso nacional bruto.zip')

# Cargar el archivo CSV
df_ingreso_nacional = pd.read_csv(ingreso_nacional_path)

# Mostrar las primeras filas del DataFrame
print(df_ingreso_nacional.head())

         Series Name     Series Code    Country Name Country Code  \
0  GNI (current US$)  NY.GNP.MKTP.CD     Afghanistan          AFG
1  GNI (current US$)  NY.GNP.MKTP.CD         Albania          ALB
2  GNI (current US$)  NY.GNP.MKTP.CD         Algeria          DZA
3  GNI (current US$)  NY.GNP.MKTP.CD  American Samoa          ASM
4  GNI (current US$)  NY.GNP.MKTP.CD         Andorra          AND

      1990 [YR1990]     2000 [YR2000]     2015 [YR2015]     2016 [YR2016]  \
0                ..  3411145674.07204  19249499438.7455  18350475875.2999
1        2026653750  3585007221.82101  11521811393.6203   12053832974.203
2  59780577656.1963  52080377793.2312  183649437186.975  179594281655.137
3                ..                ..                ..                ..
4                ..                ..                ..                ..

      2017 [YR2017]     2018 [YR2018]     2019 [YR2019]     2020 [YR2020]  \
0  18961769787.4548  18294513957.5523  19080662010.7479  20105156769.1907
1  13051517643.6213  15361070727.3542  15383523591.8511  14991229141.5555
2  187682164214.748  190390454064.656  189548593096.822  162137110259.921
3                ..                ..                ..                ..
4                ..                ..  3462352923.13403  3268595543.70399

      2021 [YR2021]     2022 [YR2022]     2023 [YR2023] 2024 [YR2024]
0  14346089107.5906  14540297385.7235  17315384702.8949            ..
1  17780838454.9845  18686023829.0718  23246482646.2791            ..
2  182588498523.667  220378411278.286  244041138304.928            ..
3                ..                ..                ..            ..
4  3576595365.25519  3715466876.22408                ..            ..

In [186]:
df_ingreso_nacional.columns

Index(['Series Name', 'Series Code', 'Country Name', 'Country Code',
       '1990 [YR1990]', '2000 [YR2000]', '2015 [YR2015]', '2016 [YR2016]',
       '2017 [YR2017]', '2018 [YR2018]', '2019 [YR2019]', '2020 [YR2020]',
       '2021 [YR2021]', '2022 [YR2022]', '2023 [YR2023]', '2024 [YR2024]'],
      dtype='object')

In [187]:
import pandas as pd
import numpy as np

# Identificar columnas de años
year_columns = [col for col in df_ingreso_nacional.columns if '[YR' in col]

# Reorganizar datos 
df_tidy = pd.melt(
    df_ingreso_nacional,
    id_vars=['Series Name', 'Series Code', 'Country Name', 'Country Code'],
    value_vars=year_columns,
    var_name='Year',
    value_name='Value'
)

# Extraer el año numérico 
df_tidy['Year'] = df_tidy['Year'].str.extract(r'(\d{4})').astype(int)

# Filtrar solo 2018 y eliminar filas con NaN 
df_ingreso_nacional_2018_clean = df_tidy[
    (df_tidy['Year'] == 2018) & 
    (df_tidy['Value'].notna())  # Solo filas con valores numéricos
].reset_index(drop=True)

# Mostrar resultados
print(df_ingreso_nacional_2018_clean)

           Series Name     Series Code  \
0    GNI (current US$)  NY.GNP.MKTP.CD
1    GNI (current US$)  NY.GNP.MKTP.CD
2    GNI (current US$)  NY.GNP.MKTP.CD
3    GNI (current US$)  NY.GNP.MKTP.CD
4    GNI (current US$)  NY.GNP.MKTP.CD
..                 ...             ...
261  GNI (current US$)  NY.GNP.MKTP.CD
262  GNI (current US$)  NY.GNP.MKTP.CD
263  GNI (current US$)  NY.GNP.MKTP.CD
264  GNI (current US$)  NY.GNP.MKTP.CD
265  GNI (current US$)  NY.GNP.MKTP.CD

                                   Country Name Country Code  Year  \
0                                   Afghanistan          AFG  2018
1                                       Albania          ALB  2018
2                                       Algeria          DZA  2018
3                                American Samoa          ASM  2018
4                                       Andorra          AND  2018
..                                          ...          ...   ...
261                          Sub-Saharan Africa          SSF  2018
262  Sub-Saharan Africa (excluding high income)          SSA  2018
263   Sub-Saharan Africa (IDA & IBRD countries)          TSS  2018
264                         Upper middle income          UMC  2018
265                                       World          WLD  2018

                Value
0    18294513957.5523
1    15361070727.3542
2    190390454064.656
3                  ..
4                  ..
..                ...
261   1730435953736.8
262  1728736809088.67
263   1730435953736.8
264    23044511357732
265  86654073045328.3

[266 rows x 6 columns]

In [188]:
# Seleccionar solo las columnas requeridas: Country Name, 2018 y Series Name (CPI)
df_2018_ingreso_nacional = df_ingreso_nacional[['Country Name', '2018 [YR2018]']]

# Renombrar columnas 
df_2018_ingreso_nacional = df_2018_ingreso_nacional.rename(columns={
    'Country Name': 'Country',
    '2018 [YR2018]': 'Ingreso nacional bruto 2018',
    
})

# Mostrar el resultado
print(df_2018_ingreso_nacional)


## Guardar en CSV
# Path
ingreso_nacional_path = os.path.join(current_dir, '../data/raw/macrodata')
# Crear un directorio si no existe
os.makedirs(ingreso_nacional_path, exist_ok=True)
# Archivo CSV
ingreso_nacional_data = os.path.join(ingreso_nacional_path, "ingreso_nacional_bruto.csv")
# Guardar dataframe en CSV
df_2018_ingreso_nacional.to_csv(ingreso_nacional_data, index=False)

            Country Ingreso nacional bruto 2018
0       Afghanistan            18294513957.5523
1           Albania            15361070727.3542
2           Algeria            190390454064.656
3    American Samoa                          ..
4           Andorra                          ..
..              ...                         ...
266             NaN                         NaN
267             NaN                         NaN
268             NaN                         NaN
269             NaN                         NaN
270             NaN                         NaN

[271 rows x 2 columns]